* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  --bkgColor: #110B11;
  --mainColor: #3685B5;
  --borderRadius: 0.75em;
  --fildsColor: #e8e8e8;
  --textShadow: -webkit-text-stroke: #0e1d68dd 3px;
  --textShadowWhite: 0px 4px #c8c8c8;
  font-family: cherry bomb one;
}

body {
  background-color: var(--bkgColor);
}
/*main style*/
.container {
  margin: 4em auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  width: 30em;
  height: auto;
  border-radius: var(--borderRadius);
  border-radius: 50px;
  box-shadow: 15px 15px 12px #070810, -5px -5px 12px #272a34;
}
.container img{
  width: 100%;
  padding:2em 0.5em;
}
/* filds style*/

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.1em 1em;
  font-size: 1.5em;
  color: var(--mainColor);

  input {
    width: 10em;
    height: 2.75em;
    border: 2px solid var(--mainColor);
    border-radius: var(--borderRadius);
    text-align: center;
    font-weight: 900;
    font-size: 0.9em;
    color: var(--mainColor);
    text-shadow: var(--textShadow);
    text-transform: uppercase;

    border: solid 4px var(--mainColor);
  }
  label {
    font-size: 2.5rem;
    -webkit-text-stroke: #e8e8e8 1.5px;
  }


}

/*Button style*/
button {
  width: 20em;
  height: 4em;
  margin: 1em auto;
  padding-bottom: 6em;
  border-radius: var(--borderRadius);
  border: solid 4px var(--mainColor);
  color: var(--mainColor);
  background-color: var();

  p {
    font-size: 4em;
    -webkit-text-stroke: #0e1d68dd 3px;
  }
}
.calcule:hover {
  transition: ease 0.2s;
  transform: translateY(-4px);
}

.calcule:active {
  transition: linear 0.1s;
  transform: translateY(0px);
}

/*display style*/
.resultado {
  width: 26em;
  height: auto;
  margin: 1em auto;
  border-radius: var(--borderRadius);
  border: solid 4px var(--mainColor);
  color: var(--mainColor);
  background-color: var(--fildsColor);
  padding: 0.5em;

  span {
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 700;
    -webkit-text-stroke: #0e1d68dd 1px;
    text-transform: capitalize;
    
  }
}
