* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

:root{
    --bkgColor: #110b11;
  --mainColor: #0081af;
  --borderRadius: 0.75em;
  --fildsColor: #fffbfa;
  ---fontstyle: cherry bomb one;
}

body {
  background-color: var(--bkgColor);
  font-family: var(---fontstyle);
}
/*main style*/
.container {
  margin: 4em auto 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 40em;
  height: auto;
  border-radius: var(--borderRadius);
  border-radius: 50px;
  box-shadow: 15px 15px 12px #070810, -5px -5px 12px #272a34;
}
.container img {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
}
/* filds style*/

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin: -0.5em 1em;
  font-size: 1.5em;
  padding: 0 2em;
  color: var(--mainColor);
  font-family: var(---fontstyle);

  input {
    width: 10em;
    height: 2.75em;
    border: 2px solid var(--mainColor);
    border-radius: var(--borderRadius);
    text-align: center;
    font-weight: 900;
    font-size: 0.9em;
    color: var(--mainColor);
    text-shadow: var(--textShadow);
    text-transform: uppercase;
    font-family: var(---fontstyle);

    border: solid 4px var(--mainColor);
  }
  label {
    font-size: 3.8rem;
    -webkit-text-stroke: #e8e8e8 1.5px;
  }
}

/*Button style*/
button {
  width: 20em;
  height: 4em;
  margin: 4em auto 1em auto;
  padding-bottom: 6em;
  border-radius: var(--borderRadius);
  border: solid 4px var(--mainColor);
  color: var(--mainColor);
  font-family: var(---fontstyle);

  p {
    font-size: 4em;
    -webkit-text-stroke: #003384 3px;
  }
}
.calcule {
  transform: translateY(-4px);
}

.calcule:active {
  transition: ease-in 0.1s;
  transform: translateY(2px);
}

/*display style*/
.resultado {
  width: 34em;
  height: calc(180px, auto);
  margin: 1em auto 2em auto;
  border-radius: var(--borderRadius);
  border: solid 4px var(--mainColor);
  color: var(--mainColor);
  background-color: var(--fildsColor);
  padding: 0.5em;
  text-align: center;

  span {
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 700;
    -webkit-text-stroke: #003384 1px;
    text-transform: capitalize;
  }
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4em 1em 0em 1em;

  .social img{
      width: 30px;
      filter: invert(100%);
    }
}


.footer img {
  width: 180px;
}


/*Mobile landscape style*/

@media screen and (min-width: 431px) and (max-width: 960px) {
  .container {
    margin: 0.5em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90%;
    background-color: #110b11;
  }
  .container img{
    width: 60%;
    margin: 0em auto -1.8em auto;
  }

  button{
  width: 26em;
  height: 4em;
  margin: 1.8em auto 0em auto;
  padding-bottom: 0em;
  border-radius: var(--borderRadius);
  border: solid 4px var(--mainColor);
  color: var(--mainColor);
  font-family: var(---fontstyle);

  p{
    margin: 0;
    padding: 0;
      font-size: 2.5em;
  }
  }
  
  .resultado {
    width: 90%;
    font-size: 1em;
  }

    .input {
    font-size: 1.03em;
    padding: 0;
    margin: -0.9em 10em;

    label {
      font-size: 3.1rem;
    }

    input{
      width: 50%;
    }

    .footer{
      display: flex;
      flex-direction: column;
      justify-content: center;
align-items: center;    }
  }
}
    /*Mobile potrait style*/
    
    @media screen and (min-width: 330px) and (max-width: 430px) {
    
      html{
        height: 100dvh;
      }
      .container {
        margin: 2em auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90%;
        background-color: #110b11;
      }
    
      .resultado {
        width: 90%;
      }
    
       button{
      width: 20em;
      height: 4em;
      margin: 1.8em auto 0em auto;
      padding-bottom: 0em;
      border-radius: var(--borderRadius);
      border: solid 4px var(--mainColor);
      color: var(--mainColor);
      font-family: var(---fontstyle);
    
        p{
        margin: 0;
        padding: 0;
          font-size: 2.5em;
      }
      
       }
    
      .input {
        font-size: 1.1em;
        padding: 0;
        margin: -0.2em 1em;
    
        label {
          font-size: 2.1rem;
        }
      }
      
      .footer {
         display: flex;
      flex-direction: column;
      justify-content: center;
align-items: center;  
      }
    }
